body
{
  font-family: Tahoma, sans-serif;
  color: #C59B76;
  background: #e3dac9;
  margin-left: 75px;
  margin-right: 75px;
}

header
{

}

h1
{
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-align: center;
color:#5ea758;
}

h2
{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-align: left;
color: #5ea758;
margin-left: 100px;
margin-right: 100px;

}

h3
{
font-family: Tahoma, sans-serif;
text-align: left;
color:#5ea758;
margin-left: 75px;
margin-right: 75px;
}

p
{
  font-family: Tahoma, sans-serif;
  text-align: left;
  color:#5ea758;
  margin-left: 100px;
  margin-right: 100px;
}
ul
{
  text-align: left;
  color:#5ea758;
  margin-left: 75px;
  margin-right: 75px;
  
}
ol
{
  text-align: left;
  color:#5ea758;
  margin-left: 75px;
  margin-right: 75px;
  
}
li, p
{
  list-style-image:-webkit-radial-gradient();
  margin: 10px 0;
}
a
{  
  color: ghostwhite;
  text-decoration: none;
}

body div
{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: #C59B76;
font-size: medium;
text-align: center;
position:fixed;

background:#5D3A00;
margin-left: 50px;
margin-right: 50px;
}

main
{
margin-left:100px;
margin-right:100px;
position: relative;
min-height: 100vh;
}

footer
{
  font-family: "Audiowide", sans-serif;
  font-size: medium;
  text-align: center;
  
  bottom:0;
  width:100%;
  color:ghostwhite;
  text-decoration: none;
  text-emphasis-style: none;
  background:#5D3A00;
  margin-left:  25px;
  margin-right: 25px;
  padding-bottom: 5px;
  padding-top:5px;
  padding-right:5px;
  padding-left:5px;
}

figure
{
  font-style: italic;
  text-align: center;
}

table, th, td
{
  border: 1px solid black;
  text-align: center;
  
}
th
{
  background-color: forestgreen;
  color:ghostwhite;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
}
tr:nth-child(odd)
{
  background-color: ghostwhite;
  color: crimson;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
}
tr:nth-child(even)
{
  background-color: limegreen;
  color: purple;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
}

form
{
  background-color: wheat;
  width: 160px;
  display: table;
  margin-left: 100px;
  text-align: center;
}
p form
{
  color:black;
  display: table-row;
}
input 
{
  font-style: oblique;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: forestgreen;
  display: table-cell;
  text-align: left;
}
label
{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  display: table-cell;
  margin-left: 75px;
}
h6
{
  font-size: medium;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 125px;
  color:#5ea758;
}
.topnav
{
  font-family: "Audiowide", sans-serif;
  font-size: medium;
  text-align: center;
  position:relative;
  width:100%;
  color:ghostwhite;
  text-decoration: none;
  text-emphasis-style: none;
  background:#5D3A00;
  margin-left:  25px;
  margin-right: 25px;
  padding-bottom: 5px;
  padding-top:5px;
  padding-right:5px;
  padding-left:5px;
}
.calculatorinput
{
  text-align: center;
}
.calctable{
  border: 3px solid black;
  text-align: center;
  border-radius: 0%;
  
}
.calcrow, .calcdata{
  background-color: ghostwhite;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;  
}

.calculator {
  border-radius: 12px;
  box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.15);
  position: absolute;
 
}

.calculator__display {
  background-color: #222222;
  color: #fff;
  font-size: 20px;
  padding: 0.5px 0.75px;
  text-align: right;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.calculator__keys {
  background-color: #999;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(4, 1fr);
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  
  margin: auto;
}
.key--equal {
  background-image: linear-gradient(to bottom, #fe886a, #ff7033);
  grid-column: -2;
  grid-row: 2 / span 4;
}
footer p
{
  text-align: center;
}

.dropbutton {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropcontent {
  display: none;
  position: absolute;
  background-color: ghostwhite;
  min-width: 160px;
  z-index: 1;
}

.dropcontent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropcontent a:hover {
  background-color: rgb(224, 203, 203);
}

.dropdown:hover .dropcontent {
  display: block;
}

.dropdown:hover .dropbutton {
  background-color: #3e8e41;
}

/* Slide show*/
.slideshow {
  
  width: 100%;
  position: relative;
  margin: auto;
  background-color: #5D3A00;
}


.slides {
  display:contents;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.caption {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: relative;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background-color:transparent;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.slidenum {
  color: #f2f2f2;
  background-color: transparent;
  font-size: 12px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  top: 0;
}

span{
  background:transparent;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color:#5D3A00;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
.colorpoo{background-color: transparent;}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}