body
{
  font-family: Tahoma, sans-serif;
  color: #C59B76;
  background: #8FD5A6;
}

header
{
  font-family: Courier, serif;
  text-align: center;
  color: #5D3A00;
}

p
{
  font-family: Times_New_Roman, serif;
  text-align: left;
  color: #5D3A00
}